.tabs {
	float:left;
	width:100%;
	line-height: normal;
	background-image: url("../images/xp/tabs_bg.gif");
}

.tabs ul {
	margin: 0;
	padding: 0 0 0;
	list-style: none;
}

.tabs li {
	float: left;
	background: url("../images/xp/tab_bg.gif") no-repeat left top;
	margin: 0;
	margin-left: 0;
	margin-right: 2px;
	padding: 0 0 0 10px;
	line-height: 18px;
}

.tabs li.current {
	background: url("../images/xp/tab_sel_bg.gif") no-repeat left top;
	margin-right: 2px;
}

.tabs span {
	float: left;
	display: block;
	background: url("../images/xp/tab_end.gif") no-repeat right top;
	padding: 0px 10px 0 0;
}

.tabs .current span {
	background: url("../images/xp/tab_sel_end.gif") no-repeat right top;
}

.tabs a {
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 10px;
}

.tabs a:link, .tabs a:visited, .tabs a:hover {
	color: black;
}

.tabs a:hover {
}

.tabs .current {
}

.tabs .current a, .tabs .current a:link, .tabs .current a:visited {
}

.panel_wrapper div.panel {
	display: none;
}

.panel_wrapper div.current {
	display: block;
	width: 100%;
	min-height:500px;
	height: auto !important;
	height: 500px;
}

.panel_wrapper {
	border: 1px solid #919B9C;
	border-top: 0px;
	padding: 20px;
	clear: both;
	background-color: white;
}

fieldset {
	border: 1px solid #919B9C;
	font-family: Verdana, Arial;
	font-size: 10px;
	padding: 0;
	margin: 0;
	padding: 4px;
}

legend {
	color: #2B6FB6;
	font-weight: bold;
}

.properties {
	width: 100%;
}

.properties .column1 {
}

.properties .column2 {
	text-align: left;
}

a:link, a:visited {
	color: black;
}

a:hover {
	color: #2B6FB6;
}

.panel_wrapper DIV {
	clear:both;
	margin-bottom:6px;
}

.panel_wrapper DIV LABEL {
	float:left;
	display:block;
	width:160px;
}

#eight_panel_inner,#five_panel_inner {
	clear:both;
}

.Instructions {
	padding:10px 0 10px 0;
}

DIV.TextPromptGrey {margin:16px 0 16px 0;}

.Block {margin-bottom:20px;}